@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Fruktur&family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Fruktur&family=Libre+Baskerville:wght@700&display=swap');
.content {
    max-width: 100%;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

.social_links {
    list-style-type: none;
}

.logo {
    border-radius: 100px;
    background-color: grey;
    width: 120px;
    height: 120px;
    margin-left: 105px;
    margin-top: 10px;
}

ul li a img {
    border-radius: 35px;
}

#headernav li a {
    color: #EEF4D4;
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 1px;
    min-height: 20px;
    align-items: center;
    justify-content: center;
    font-family: dongle;
    font-size: 30px;
    font-weight: 400;
}

#headernav li a:hover {
    background-color: #498BA6;
    color: rgb(13, 68, 65);
}

nav button {
    margin-left: 15px;
    margin-top: 1px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #555;
    font-size: 2.8rem;
    border-radius: 10px;
}

.social_links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 200px;
    margin-bottom: -62px;
}

#icon_1,
#icon_2,
#icon_3 {
    padding: 20px;
    padding-bottom: 1px;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    flex: 1 1 auto;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

header {
    background-image: url("https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/bern-switzerland/800x500/bern-switzerland-temple-lds-784288-wallpaper.jpg");
    width: 557px;
}

footer {
    background-image: url("https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/bern-switzerland/800x500/bern-switzerland-temple-lds-784288-wallpaper.jpg");
    width: 557px;
    font-family: dongle;
    font-size: 28px;
    font-weight: 100;
    color: #EEF4D4;
}

#footer_address {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#a,
#b,
#c,
#d {
    margin-top: 1px;
    margin-bottom: 1px;
}

.google_map {
    margin-left: 70px;
}

#icon_4,
#icon_5,
#icon_6 {
    margin: 35px;
}

#social_links {
    margin-left: 50px;
}

#footer_logo {
    margin-left: 215px;
}

#footer_bottom {
    display: flex;
    flex-direction: row;
    margin-bottom: 1px;
    justify-content: center;
    margin-top: 80px;
}

#footerlink_3 {
    margin: 40px;
    margin-top: 1px;
    margin-bottom: 1px;
}

#footerlink_1,
#footerlink_2 {
    margin: 40px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-decoration: none;
    color: #EEF4D4;
}

#footerlink_2:hover {
    color: #20A39E;
}

#footerlink_1:hover {
    color: #20A39E;
}

#last_modified {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

#thankspage {
    font-family: dongle;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
}


/*------ For Contact Us and Reservation Page ------*/

.contact_header {
    font-family: dongle;
    font-weight: 900;
    font-size: 38px;
    text-align: center;
    margin-top: 30px;
}

.contact_paragraph {
    font-family: dongle;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
}

#busform {
    font-family: dongle;
    font-family: 300;
    font-size: 34px;
}

.contact {
    font-weight: 600;
}

.submitBtn {
    color: #EEF4D4;
    background-color: rgb(13, 68, 65);
    font-size: 35px;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin: 30px;
    margin-left: 130px;
}

.text,
.tel,
.email,
.url,
.fname,
.lname,
.address1,
.address2,
.city,
.state,
.zip,
.text_7 {
    border-radius: 10px;
    width: 250px;
    margin: 15px;
}

.lname {
    margin-left: 77px;
}

.fname {
    margin-left: 75px;
}

.address1 {
    margin-left: 87px;
}

.address2 {
    margin-left: 102px;
}

.email {
    margin-left: 135px;
}

.tel {
    margin-left: 87px;
}

.city {
    margin-left: 144px;
}

.state {
    margin-left: 25px;
}

.text_7 {
    margin-left: 122px;
}

#StartDate,
#EndDate {
    margin-bottom: 15px;
    margin-top: 15px;
}

#StartDate {
    margin-left: 20px;
    border: 0.5px solid grey;
}

#EndDate {
    margin-left: 34px;
    border: 0.5px solid grey;
}

.dropdown1 {
    margin-left: 38px;
    margin-bottom: 15px;
    border: 0.5px solid grey;
    width: 315px;
}

.dropdown2 {
    width: 460px;
    border: 0.5px solid grey;
}

.dropdown3 {
    border: 0.5px solid grey;
    width: 460px;
}

#description {
    width: 450px;
    border-radius: 10px;
}

.contact_main {
    width: 540px;
}

.into {
    margin-bottom: 30px;
    margin-top: 30px;
}


/*------------------ for services page--------------- */

.hero-image-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2869215/pexels-photo-2869215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    margin: 20px;
    width: 500px;
    height: 450px;
}

.hero-text-1 {
    text-align: center;
    color: #EEF4D4;
    font-family: dongle;
    font-size: 25px;
}

.hero-image-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2372132/pexels-photo-2372132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    margin: 20px;
    width: 500px;
    height: 450px;
}

.hero-text-2 {
    text-align: center;
    color: #EEF4D4;
    font-family: dongle;
    font-size: 25px;
}

.hero-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.button {
    padding: 10px;
    font-size: 35px;
    text-decoration: none;
    border: 1px solid grey;
    color: black;
    background-color: #EEF4D4;
}

.button:hover {
    background-color: #20A39E;
    color: #EEF4D4;
}

.services {
    font-family: dongle;
    font-size: 30px;
    margin-left: 5px;
}

.attributions {
    text-align: left;
}

.attributions ul a {
    text-decoration: none;
    color: black;
}

#attributionpage {
    font-family: dongle;
    font-weight: 300;
    font-size: 35px;
    text-align: center;
}


/*----------- TEMPLE PRIMARY CSS --------------*/

.directory_main {
    display: flex;
    flex-direction: column;
    font-family: dongle;
}

#switchview {
    margin-bottom: 50px;
}

.directoryhead {
    font-size: 70px;
}

#cardbutton {
    width: 50px;
    height: 50px;
    background-color: #EEF4D4;
    border-radius: 5px;
    margin-right: 10px;
}

#cardbutton:hover {
    background-color: rgb(13, 68, 65);
}

#listbutton {
    width: 50px;
    height: 50px;
    background-color: #EEF4D4;
    border-radius: 5px;
}

#listbutton:hover {
    background-color: rgb(13, 68, 65);
}

.cardview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.cardview section {
    font-family: dongle;
    color: #EEF4D4;
    font-size: 35px;
    background-color: #0D1321;
    border: 2px solid grey;
    border-radius: 10px;
    margin-top: 10px;
    height: 650px;
}

.cardview section:hover {
    background-color: rgb(10, 33, 68);
}

.cardview section img {
    margin-top: 35px;
    width: 250px;
    height: 150px;
}


/* ---- for LIST View ---- */

.listview section {
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    font-family: dongle;
}

.listview section p5 {
    display: none;
}

.listview img,
section p4 {
    display: none;
}

.listview img,
section p3 {
    display: none;
}

.listview img,
section p5 {
    display: none;
}

.listview section img {
    display: none;
}

.listview section h2 {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.listview section {
    padding: 0.5rem;
    text-align: start;
}

.listview section p1 {
    font-size: 26px;
    font-weight: 800;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.listview section p2 {
    font-size: 28px;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 0px;
}

.listview section p6 {
    font-size: 28px;
    font-weight: 800;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.listview section h2 {
    padding-left: 5px;
}

.listview section:nth-of-type(odd) {
    background-color: #EEF4D4;
    width: 100%;
    border-radius: 10px;
}