    @media (min-width:37.5em) {
        header {
            background-image: url("https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/bern-switzerland/800x500/bern-switzerland-temple-lds-784288-wallpaper.jpg");
            width: 800px;
        }
        #headernav li a {
            color: #EEF4D4;
            display: block;
            padding: .8rem 2vw;
            text-decoration: none;
            border: 1px solid rgba(255, 255, 255, 0.5);
            margin-right: 10px;
            margin-bottom: 1px;
            min-height: 20px;
            align-items: center;
            justify-content: center;
            font-family: dongle;
            font-size: 45px;
            font-weight: 500;
        }
        nav button {
            margin: .2rem 2vw;
            background-color: #fff;
            border: 1px solid #555;
            font-size: 2.5rem;
            border-radius: 10px;
        }
        .logo {
            border-radius: 100px;
            width: 150px;
            height: 150px;
            margin-left: 150px;
            margin-top: 10px;
        }
        ul li a img {
            border-radius: 40px;
            height: 78px;
            width: 78px;
        }
        nav button {
            margin-left: 25px;
            margin-top: 1px;
            margin-bottom: 10px;
            background-color: #fff;
            border: 1px solid #555;
            font-size: 3.5rem;
            border-radius: 10px;
        }
        .social_links {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            margin-left: 295px;
            margin-bottom: -75px;
        }
        #icon_1,
        #icon_2,
        #icon_3 {
            padding: 20px;
            padding-bottom: 1px;
        }
        footer {
            background-image: url("https://content.churchofjesuschrist.org/templesldsorg/bc/Temples/photo-galleries/bern-switzerland/800x500/bern-switzerland-temple-lds-784288-wallpaper.jpg");
            width: 800px;
        }
        #footer_logo {
            margin-left: 25px;
            margin-bottom: 40px;
        }
        #footer_address {
            margin-right: 100px;
        }
        #icon_4,
        #icon_5,
        #icon_6 {
            margin: 5px;
            margin-left: 140px;
        }
        #icon_4 {
            margin: 5px;
            margin-left: 80px;
        }
        #social_links {
            margin-left: -90px;
        }
        #footer_last {
            margin-right: 110px;
        }
        #footer_bottom {
            margin-right: 64px;
            margin-left: -50px;
        }
        /*------ For Contact Us and Reservation Page ------*/
        .text,
        .tel,
        .email,
        .url,
        .fname,
        .lname,
        .address1,
        .address2,
        .city,
        .state,
        .zip,
        .text_7 {
            border-radius: 10px;
            width: 300px;
            margin: 15px;
        }
        .lname {
            margin-left: 77px;
        }
        .fname {
            margin-left: 75px;
        }
        .address1 {
            margin-left: 87px;
        }
        .address2 {
            margin-left: 102px;
        }
        .email {
            margin-left: 135px;
        }
        .tel {
            margin-left: 87px;
        }
        .city {
            margin-left: 144px;
        }
        .state {
            margin-left: 25px;
        }
        .text_7 {
            margin-left: 122px;
        }
        #StartDate,
        #EndDate {
            margin-bottom: 15px;
            margin-top: 15px;
        }
        #StartDate {
            margin-left: 20px;
            border: 0.5px solid grey;
        }
        #EndDate {
            margin-left: 34px;
            border: 0.5px solid grey;
        }
        .dropdown1 {
            margin-left: 38px;
            margin-bottom: 15px;
            border: 0.5px solid grey;
        }
        .dropdown2 {
            width: 562px;
            border: 0.5px solid grey;
        }
        #description {
            width: 600px;
            border-radius: 10px;
        }
        .submitBtn {
            margin-left: 220px;
        }
        .contact_main {
            width: 700px;
        }
        /*------------------ for services page--------------- */
        .hero-image-1 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2869215/pexels-photo-2869215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
            margin: 20px;
            width: 720px;
            height: 400px;
        }
        .hero-text-1 {
            text-align: center;
            color: #EEF4D4;
            font-family: dongle;
            font-size: 25px;
        }
        .hero-image-2 {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/2372132/pexels-photo-2372132.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
            margin: 20px;
            width: 720px;
            height: 400px;
        }
        .hero-text-2 {
            text-align: center;
            color: #EEF4D4;
            font-family: dongle;
            font-size: 25px;
        }
        .hero-page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        .button {
            padding: 10px;
            font-size: 35px;
            text-decoration: none;
            border: 1px solid grey;
            color: black;
            background-color: #EEF4D4;
        }
        .button:hover {
            background-color: #20A39E;
            color: #EEF4D4;
        }
        .services {
            font-family: dongle;
            font-size: 30px;
            margin-left: 20px;
        }
    }